<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.hammerspoon.autostart</string>
  <key>LimitLoadToSessionType</key>
  <array>
    <string>Aqua</string>
  </array>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/open</string>
    <string>-gj</string>
    <string>__HAMMERSPOON_APP__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/local.hammerspoon.autostart.out.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/local.hammerspoon.autostart.err.log</string>
</dict>
</plist>
